<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @screenshot.url %>
</p>

<p>
  <strong>Screenshot:</strong>
  <%= link_to image_tag(@screenshot.screenshot_url, width: 300), @screenshot.screenshot_url %>
</p>

<%= link_to 'Edit', edit_screenshot_path(@screenshot) %> |
<%= link_to 'Back', screenshots_path %>
